/* Write your CSS code here */
.item-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.currency_logo {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.description {
  font-family: roboto;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin-left: 10px;
}
.description-value {
  font-family: roboto;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin-left: 5px;
  margin-right: 10px;
  text-align: start;
}
